<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        body{
            background-color: #121212;
        }
       .jumbotron {
            border-radius: 6px;
            box-shadow:2px 5px 3px 0px #080808ff;
            background-color:#1D1D1D ;
        }
        .navbar-div{
            box-shadow:2px 5px 3px 0px #080808ff;
        }
        .profile{
            background-color: #1D1D1D ;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <div class="container-fluid bg-dark navbar-div">
        {% include 'navbar.html' %}
    </div>

    <div class="container my-3 text-white">
        <div class="row">
            <div class="col-sm">
                {% if messages %}
                {% for i in messages %}
                    <div class="alert alert-{{i.tags}} alert-dismissible text-center">
                        
                            {{i.message}}
                        {% endfor %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row justify-content-center">
            {% block content %}
            {% endblock content %}
        </div>

        
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>