{% extends 'base.html' %}
{% block msg %}
{% if messages %}
            <div class="alert alert-success text-center">
                {% for i in messages %}
                    {{i.message}}
                {% endfor %}
            </div>
            {% endif %}
{% endblock msg %}


{% block content %}
    <div class="col-sm-6">
        <h1>Edit Post</h1>
        <div class="container-fluid">
            <form action="" method="POST">
                {% csrf_token %}
                {% for form in form %}
                {{form.label_tag}}{{form}}{{form.errors|striptags}}
                {% endfor %}
                <input type="submit" value="Submit" class="btn btn-primary my-3">
            </form>
        </div>
    </div>
{% endblock content %}